[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pandas = "*"
python-dotenv = "*"
pyjwt = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
pytest = "*"
requests = "*"
configparser = "*"

[requires]
python_version = "3.8"
